:root {
  --background: black;
  --foreground: limegreen;
}

html {
  padding: 2rem 4rem 0.5rem;
  background: var(--background);
  color: var(--foreground);
}

@media (max-width: 480px) {
  html {
    padding: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.output {
  font-family: monospace;
}

.output {
  margin: 1rem 0 0.75rem;
}

input {
  background: var(--background);
  border: 1px solid inherit;
  border-radius: 3px;
  padding: 5px;
  color: inherit;
  margin-right: 0.5rem;
}

button {
  margin: 1rem 0;
  background: var(--background);
  color: inherit;
  border-radius: 3px;
}

button:disabled {
  color: dimgrey;
}

button + button:not(#advance) {
  margin-left: 1rem;
}

.period-helper {
  color: #696969;
  font-size: 0.5rem;
}

#periods_label {
  display: flex;
}

#buttons {
  display: none;
}
