*/__pycache__/
persistence.json
/application/front-end/node_modules/
/application/front-end/package-lock.json
heating_v3.log.1
heating_v3.log.2
heating_v3.log.3
heating_v3.log
/authentication/users.sqlite3
.idea/
